#index-container {
    width: 100%;



    // 타이틀 부분
    #index-title {
        width: 100%;
        height: 150px;
        display: flex;
        gap: 20px;
        align-items: center;


        #logo-img {
            width: 150px;
            height: 150px;
        }


        #title-text-box {
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: end;


            span {
                font-style: italic;
                letter-spacing: 0.5px;
            }
            
            span:first-child {
                font-size: 2.6rem;
            }

            span:last-child {
                font-size: 2rem;
            }
        }
    }



    // 메인 메뉴 부분
    #note-list-box {
        margin-top: 100px;
        width: 100%;


        #note-list-text {
            width: 100%;
            font-size: 2rem;
            text-align: center;
            font-family: "Noto Sans KR ExtraBold";
            opacity: 0.8;
        }


        #note-list {
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;


            .note-menu {
                width: 320px;
                height: 320px;
                flex-direction: column;
                gap: 10px;
                opacity: 0.5;
                box-shadow: 0 0 2px rgb(218, 218, 218);
                border-radius: 50px;
                background-color: rgba(17, 24, 39, 1);


                img {
                    width: 45px;
                    height: 45px;
                }


                p {
                    font-size: 1.8rem;
                }
            }


            .note-menu:hover {
                opacity: 1;
                box-shadow: 0 0 5px rgb(218, 218, 218);
            }
        }
    }



    #info-box {
        margin-top: 100px;
        width: 100%;
        display: flex;


        // 이미지 출처 부분
        #img-source-box {
            width: 50%;


            #img-source-text {
                width: 100%;
                font-size: 2rem;
                text-align: center;
                font-family: "Noto Sans KR ExtraBold";
                opacity: 0.8;
            }


            #img-source-list {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                gap: 5px;



                .img-source {
                    width: 100%;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-left: 50px;


                    img {
                        width: 32px;
                        height: 32px;
                        scale: 0.9;
                    }


                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    
    
    
        // 정보 부분
        #my-info-box {
            width: 50%;


            #my-info-text {
                width: 100%;
                font-size: 2rem;
                text-align: center;
                font-family: "Noto Sans KR ExtraBold";
                opacity: 0.8;
            }
        }
    }
}





// 타이틀 부분 media 쿼리
@media (max-width: 1080px) {
    #index-container {
        width: 100%;
    
    
        // 타이틀 부분
        #index-title {
            width: 100%;
            height: 150px;
            flex-direction: column;
            gap: 10px;
            align-items: center;
    
    
            #logo-img {
                width: 70px;
                height: 70px;
            }
    
    
            #title-text-box {
                flex: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: end;
    
    
                span {
                    font-style: italic;
                    letter-spacing: 0.5px;
                    text-align: center;
                }
                
                span:first-child {
                    font-size: 2rem;
                }
    
                span:last-child {
                    font-size: 1.4rem;
                }
            }
        }
    }
}





@media (max-width: 1290px) {
    #index-container {
        width: 100%;



        // 메인 메뉴 부분
        #note-list-box {
            margin-top: 70px;
            width: 100%;


            #note-list-text {
                width: 100%;
                font-size: 2rem;
                text-align: center;
                font-family: "Noto Sans KR ExtraBold";
                opacity: 0.8;
            }


            #note-list {
                margin-top: 50px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 10%;


                .note-menu:not(:last-child) {
                    margin-bottom: 10%;
                }


                .note-menu {
                    width: 45%;
                    height: 25vw;
                    flex-direction: column;
                    gap: 10px;
                    opacity: 0.5;
                    box-shadow: 0 0 2px rgb(218, 218, 218);
                    border-radius: 20px;
                    background-color: rgba(17, 24, 39, 1);


                    img {
                        width: 32px;
                        height: 32px;
                    }


                    p {
                        font-size: 1.4rem;
                    }
                }


                .note-menu:hover {
                    opacity: 0.5;
                    box-shadow: 0 0 2px rgb(218, 218, 218);
                }
            }
        }



        #info-box {
            margin-top: 100px;
            width: 100%;
            flex-direction: column;
    
    
            // 이미지 출처 부분
            #img-source-box {
                width: 100%;
    
    
                #img-source-text {
                    width: 100%;
                    font-size: 2rem;
                    text-align: center;
                    font-family: "Noto Sans KR ExtraBold";
                    opacity: 0.8;
                }
    
    
                #img-source-list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 50px;
                    gap: 5px;
    
    
    
                    .img-source {
                        width: 100%;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-left: 50px;
    
    
                        img {
                            width: 24px;
                            height: 24px;
                            scale: 0.9;
                        }
    
    
                        a {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        
        
        
            // 정보 부분
            #my-info-box {
                width: 100%;
                margin-top: 100px;
    
    
                #my-info-text {
                    width: 100%;
                    font-size: 2rem;
                    text-align: center;
                    font-family: "Noto Sans KR ExtraBold";
                    opacity: 0.8;
                }
            }
        }
    }
}