@font-face {
    font-family: "Noto Sans KR";
    src: url("./../fonts/NotoSansKR-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans KR ExtraBold";
    src: url("./../fonts/NotoSansKR-ExtraBold.ttf");
}

@font-face {
    font-family: "NotoSansKR ExtraLight";
    src: url("./../fonts/NotoSansKR-ExtraLight.ttf");
}