#hd {
}



// 메뉴 on/off 버튼 부분
#hd-btn {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 3px rgba($color: #858585, $alpha: 1);
    background-color: rgb(41, 21, 21);
    position: fixed;
    bottom: 30px;
    left: calc((100% - 70px) / 2);
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.7;
    z-index: 10000;


    img {
        width: 32px;
        height: 32px;
    }
}


#hd-btn:hover {
    opacity: 1;
    box-shadow: 0 0 10px rgba($color: #858585, $alpha: 1);
}





// 메뉴 부분
#hd-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    z-index: 5000;
    min-height: 700px;



    // 메뉴 회전 안내
    #rotate-menu-info {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 30px;
        opacity: 0.5;
        bottom: 40%;


        img {
            width: 60px;
            height: 60px;
        }


        p {
            font-size: 2rem;
            height: 60px;
        }


        #info-text {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            top: -60px;
            left: 50%;
            transform: translateX(-50%);
        }
    }



    // 메뉴
    .menu-on {
        top: 0;
    }
    .menu-off {
        top: -300px;
    }


    #hd-menu {
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        transition: all 0.3s;



        #inner-circle {
            width: 200px;
            height: 200px;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 3px rgba($color: #858585, $alpha: 1);
            border-radius: 50%;
            overflow: hidden;
            background-color: rgb(41, 21, 21);
        }



        #menu-circle {
            width: 600px;
            height: 600px;
            position: absolute;
            left: -300px;
            top: -300px;
            border-radius: 50%;
            overflow: hidden;


            .menu {
                position: absolute;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                overflow: hidden;
                flex-direction: column;
                gap: 5px;
                box-shadow: 0 0 3px rgba($color: #858585, $alpha: 1);
                background-color: rgb(41, 21, 21);
                opacity: 0.7;


                img {
                    width: 32px;
                    height: 32px;
                }


                p {
                    font-size: 1.6rem;
                }
            }


            .menu:hover {
                opacity: 1;
                box-shadow: 0 0 10px rgba($color: #858585, $alpha: 1);
            }


            .pos1 {
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
            }

            .pos2 {
                bottom: 81px;
                left: 81px;
                transform: rotate(45deg);
            }

            .pos3 {
                top: calc((100% - 120px) / 2);
                left: 15px;
                transform: rotate(90deg);
            }

            .pos4 {
                top: 81px;
                left: 81px;
                transform: rotate(135deg);
            }

            .pos5 {
                top: 15px;
                left: calc((100% - 120px) / 2);
                transform: rotate(180deg);
            }

            .pos6 {
                top: 81px;
                right: 81px;
                transform: rotate(-135deg);
            }

            .pos7 {
                top: calc((100% - 120px) / 2);
                right: 15px;
                transform: rotate(-90deg);
            }

            .pos8 {
                bottom: 81px;
                right: 81px;
                transform: rotate(-45deg);
            }
        }
    }
}
















@media (max-width: 1280px) {
    #hd-btn {
        width: 40px;
        height: 40px;
        opacity: 0.8;
        left: calc((100% - 40px) / 2);


        img {
            width: 20px;
            height: 20px;
        }
    }
    
    
    #hd-btn:hover {
        opacity: 0.8;
        box-shadow: 0 0 3px rgba($color: #858585, $alpha: 1);
    }
}






@media (max-width: 1280px) {
    #hd-menu-container {
        transition: all 0s;


        // 메뉴 회전 안내
        #rotate-menu-info {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 30px;
            opacity: 0.5;
            bottom: 40%;


            img {
                width: 32px;
                height: 32px;
            }


            p {
                font-size: 1.2rem;
                height: 32px;
            }


            #info-text {
                top: -30px;
            }
        }



        #hd-menu {
            transition: all 0s;
            

            #inner-circle {
                width: 150px;
                height: 150px;
            }



            #menu-circle {
                width: 500px;
                height: 500px;
                left: -250px;
                top: -250px;


                .menu {
                    width: 100px;
                    height: 100px;


                    img {
                        width: 28px;
                        height: 28px;
                    }


                    p {
                        font-size: 1.4rem;
                    }
                }


                .menu:hover {
                    opacity: 0.7;
                    box-shadow: 0 0 3px rgba($color: #858585, $alpha: 1);
                }


                .pos1 {
                    bottom: 25px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .pos2 {
                    bottom: 75px;
                    left: 75px;
                }

                .pos3 {
                    top: calc((100% - 100px) / 2);
                    left: 25px;
                }

                .pos4 {
                    top: 75px;
                    left: 75px;
                }

                .pos5 {
                    top: 25px;
                    left: calc((100% - 100px) / 2);
                }

                .pos6 {
                    top: 75px;
                    right: 75px;
                }

                .pos7 {
                    top: calc((100% - 100px) / 2);
                    right: 25px;
                }

                .pos8 {
                    bottom: 75px;
                    right: 75px;
                }
            }
        }
    }
}