#ft {
    width: 100%;
    margin-top: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
    #ft-text {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid rgba($color: #858585, $alpha: 0.5);
        letter-spacing: 3px;
        font-size: 1.2rem;
        opacity: 0.5;
    }



    #ft-info-container {
        margin-top: 30px;
        width: 100%;
        height: 100%;
        display: flex;



        // 이미지 출처 부분
        #img-source-box {
            width: 65%;
        }


        #img-source-title {
            width: 100%;
            height: 30px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }


        #img-source {
            margin-top: 10px;
            width: 100%;
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: 2%;



            .img-source {
                width: 49%;
                height: 30px;
                display: flex;
                gap: 10px;
                margin-bottom: 5px;


                img {
                    width: 30px;
                    height: 30px;
                }

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }



        // Temp
        #temp-box {
            width: 35%;
            display: flex;
            flex-direction: column;
        }


        #temp-title {
            width: 100%;
            height: 30px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }


        #temp {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex: 1;
            box-shadow: 0 0 1px white;
        }
    }
}







@media (max-width: 1290px) {
    #ft {
        

        #ft-text {
            letter-spacing: 1px;
            font-size: 1rem;
        }
    
    
    
        #ft-info-container {
            display: flex;
            flex-direction: column;
    
    
            // 이미지 출처 부분
            #img-source-box {
                width: 100%;
            }
    
    
            #img-source-title {
                width: 100%;
                height: 30px;
                font-size: 1rem;
                justify-content: center;
            }
    
    
            #img-source {
                margin-top: 10px;
                width: 100%;
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                gap: 0;
    
    
    
                .img-source {
                    width: 100%;
                    height: 30px;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 5px;
    
    
                    img {
                        width: 30px;
                        height: 30px;
                    }
    
                    a {
                        display: flex;
                        align-items: center;
                    }
                }
            }
    
    
    
            // Temp
            #temp-box {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-top: 50px;
            }
    
    
            #temp-title {
                font-size: 1rem;
                justify-content: center;
            }
        }
    }
}