* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  color: #e5e7eb;
  font-family: "Noto Sans KR";
  user-select: none;
}


html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(17, 24, 39);
  background-image: radial-gradient(at 50% 0%, rgba(14, 165, 233, 0.18) 0px, transparent 75%), radial-gradient(at 100% 0%, rgba(99, 102, 241, 0.18) 0px, transparent 50%);
  overflow: auto;
  position: relative;
  overscroll-behavior: none;
}


a {
  text-decoration: none;
}


button {
  border: none;
}


/* scroll style */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


::-webkit-scrollbar-thumb {
  background-color: rgb(57, 70, 100);
  border-radius: 5px;
}


::-webkit-scrollbar-track {
  background-color: rgba(17, 24, 39, 0.5);
  border-radius: 5px;
}


::-webkit-scrollbar-corner {
  background: transparent;
}




/* 페이지 컨테이너 부분 */
#page-container {
  max-width: 1280px;
  padding: 110px;
  margin: 0 auto;
  position: relative;
}



/* 자식요소가 하나이고 가운데 정렬 시 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* font preload */
.font_cache {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  font-size: 1px;
}




@media (max-width: 1280px) {
  #page-container {
    width: 100%;
    padding: 50;
  }
}